*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("background.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	color: white;
	text-align: center;
}

h2{
	color: white;
}

a{
	text-decoration: none;
	color: yellow;
}

#Noidung{
	width: 100%;
	float: left;
}

#Noidungbentrai{
	width: 35%;
	float: left;
	text-align: center;
}

#Noidungbenphai{
	width: 35%;
	float: left;
	text-align: center;
}
#MiniProject{
	width: 30%;
	float: left;
	
}